name: ci
on: push
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.13.3
      - name: dependencies
        run: python -m pip install poetry==2.1.3
      - name: tests
        run: make tests
